<div class="perk-modal-mobile hidden">
  <div class="perk-modal-close-mobile">
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>

  <div class="perk-modal-header">
    <div class="perk-modal-icon"></div>
    <div class="perk-modal-header-text">REJOIGNEZ LA REVOLUTION POSITIVE</div>
  </div>

  <div class="perk-modal-title-dotted">
    <div class="perk-modal-yellow-dot">
      <div>1</div>
    </div>
    <div class="perk-modal-title-text">Découvrez votre ville autrement</div>
  </div>

  <div class="perk-modal-description">
    Je trouve de nouveaux commerçants responsables, des associations engageés et des événements enthousiasmant chez moi ou dans les autres villes où je me rends.
  </div>


  <div class="perk-modal-title-dotted">
    <div class="perk-modal-yellow-dot">
      <div>2</div>
    </div>
    <div class="perk-modal-title-text">J'accède à des reductions exclusives</div>
  </div>

  <div class="perk-modal-description">
    Je trouve de nouveaux commerçants responsables, des associations engageés et des événements enthousiasmant chez moi ou dans les autres villes où je me rends.
  </div>


  <div class="perk-modal-title-dotted">
    <div class="perk-modal-yellow-dot">
      <div>3</div>
    </div>
    <div class="perk-modal-title-text">Je rejoins une véritable révolution</div>
  </div>

  <div class="perk-modal-description">
    Je trouve de nouveaux commerçants responsables, des associations engageés et des événements enthousiasmant chez moi ou dans les autres villes où je me rends.
  </div>

  <div class="perk-modal-button-signup">
    <div class="perk-signin-button">JE M'INSCRIS</div>
  </div>

</div>
