<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="50px" height="50px" viewBox="0 0 106 107" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
    <title>address</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <circle id="green-circle" fill="#9FD6AE" sketch:type="MSShapeGroup" cx="50" cy="50" r="50"></circle>
        <circle id="blue-circle" fill="#1FA1DD" sketch:type="MSShapeGroup" cx="87" cy="88" r="19"></circle>
        <g id="flag" sketch:type="MSLayerGroup" transform="translate(24.000000, 18.000000)">
            <path d="M20.16,61.52 C20.16,62.887 15.815,63.996 10.461,63.996 C5.102,63.996 0.757,62.888 0.757,61.52 C0.757,60.151 5.102,59.043 10.461,59.043 C15.815,59.044 20.16,60.151 20.16,61.52" id="Shape" fill="#CCCCCC" sketch:type="MSShapeGroup"></path>
            <path d="M50.08,17.698 C48.191,16.81 16.99,2.14 12.438,0 L12.438,39.485 C16.983,37.349 48.175,22.684 50.081,21.786 C51.628,21.059 51.628,18.426 50.08,17.698" id="Shape" fill="#ED4C5C" sketch:type="MSShapeGroup"></path>
            <path d="M8.49,0 L12.435,0 L12.435,61.53 L8.49,61.53 L8.49,0 Z" id="Shape" fill="#D3976E" sketch:type="MSShapeGroup"></path>
        </g>
        <path d="M87.5351562,87 L87.5351562,76.96875 L87.5351562,87 L77.5351562,87 L87.5351562,87 Z M87.5351562,87 L87.5351562,96.96875 L87.5351562,87 L97.5351562,87 L87.5351562,87 Z" id="plus" stroke="#FFFFFF" sketch:type="MSShapeGroup"></path>
    </g>
</svg>
