<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
    <title>danger</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <path id="path-1" d="M0,61 L61,61 L61,0 L0,0 L0,61 L0,61 Z"></path>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <circle id="green-circle" fill="#9FD6AE" sketch:type="MSShapeGroup" cx="50" cy="50" r="50"></circle>
        <g id="26a0" sketch:type="MSLayerGroup" transform="translate(20.000000, 13.000000)">
            <g id="g10" transform="translate(30.500000, 30.500000) scale(1, -1) translate(-30.500000, -30.500000) ">
                <g id="g12">
                    <g id="g14-Clipped">
                        <mask id="mask-2" sketch:name="path18" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="path18"></g>
                        <g id="g14" mask="url(#mask-2)">
                            <g transform="translate(-1.694444, 1.694444)">
                                <g id="g20" transform="translate(1.106981, 0.000000)">
                                    <path d="M5.08333333,0 C1.96216667,0 0.586277778,2.26716667 2.02316667,5.03758333 L28.47175,55.9641111 C29.9086389,58.7345278 32.2639167,58.7345278 33.7025,55.9641111 L60.1510833,5.03758333 C61.5913611,2.26716667 60.2137778,0 57.0909167,0 L5.08333333,0 L5.08333333,0 Z" id="path22" fill="#FFCC4D" sketch:type="MSShapeGroup"></path>
                                </g>
                                <g id="g24" transform="translate(26.719694, 5.659106)">
                                    <path d="M1.69444444,35.5833333 C1.69444444,37.7895 3.32280556,39.1552222 5.47644444,39.1552222 C7.57925,39.1552222 9.26013889,37.7386667 9.26013889,35.5833333 L9.26013889,15.3550556 C9.26013889,13.2014167 7.57925,11.7831667 5.47644444,11.7831667 C3.32280556,11.7831667 1.69444444,13.1505833 1.69444444,15.3550556 L1.69444444,35.5833333 L1.69444444,35.5833333 Z M1.37927778,4.58686111 C1.37927778,6.84555556 3.21775,8.68402778 5.47644444,8.68402778 C7.73513889,8.68402778 9.57530556,6.84555556 9.57530556,4.58686111 C9.57530556,2.32647222 7.73513889,0.488 5.47644444,0.488 C3.21775,0.488 1.37927778,2.32647222 1.37927778,4.58686111 L1.37927778,4.58686111 Z" id="path26" fill="#231F20" sketch:type="MSShapeGroup"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>