<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="45px" height="41px" viewBox="0 0 45 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
    <title>heart</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="1f496" sketch:type="MSLayerGroup" transform="translate(0.000000, -2.000000)" fill="#E75A70">
            <g id="g10" transform="translate(22.500000, 22.500000) scale(1, -1) translate(-22.500000, -22.500000) " sketch:type="MSShapeGroup">
                <g id="g12">
                    <g id="g14-Clipped">
                        <g id="g14" transform="translate(-0.250000, 1.250000)">
                            <g id="heart" transform="translate(0.106000, 0.208125)">
                                <path d="M45,28.75 C45,35.5625 39.4775,41.085 32.66625,41.085 C28.53125,41.085 24.8825,39.04375 22.64375,35.92375 C20.40625,39.04375 16.75625,41.085 12.6225,41.085 C5.81,41.085 0.2875,35.5625 0.2875,28.75 C0.2875,27.785 0.41,26.85 0.62,25.94875 C2.33375,15.30875 14.16375,4.08125 22.64375,0.99875 C31.1225,4.08125 42.955,15.30875 44.665,25.94875 C44.8775,26.85 45,27.785 45,28.75" id="path22"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>