  <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="50px" height="59px" viewBox="0 0 50 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
    <title>ic_highlight_black_24px</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0 0 70 0 70 70 0 70"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="ic_highlight_black_24px" transform="translate(-8.000000, -5.000000)">
            <g id="Clipped">
                <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                </mask>
                <g id="a"></g>
                <path d="M15.2916667,40 L24.0416667,48.75 L24.0416667,63.3333333 L41.5416667,63.3333333 L41.5416667,48.75 L50.2916667,40 L50.2916667,25.4166667 L15.2916667,25.4166667 L15.2916667,40 Z M29.875,5 L35.7083333,5 L35.7083333,13.75 L29.875,13.75 L29.875,5 Z M8,16.3020833 L12.1241667,12.175 L18.3075,18.3641667 L14.1833333,22.49125 L8,16.3020833 Z M47.2583333,18.3729167 L53.4504167,12.1895833 L57.5745833,16.31375 L51.3854167,22.5 L47.2583333,18.3729167 Z" id="Shape" fill="#FFFFFF" mask="url(#mask-2)"></path>
            </g>
        </g>
    </g>
</svg>
