<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="102px" height="101px" viewBox="0 0 102 101" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
    <title>Slice 1</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="address" sketch:type="MSLayerGroup">
            <g id="Page-1" sketch:type="MSShapeGroup">
                <circle id="green-circle" fill="#9FD6AE" cx="52" cy="51" r="50"></circle>
                <path d="M51.5400009,51.0625 L51.5400009,20.96875 L51.5400009,51.0625 L21.5400009,51.0625 L51.5400009,51.0625 L51.5400009,51.0625 Z M51.5400009,51.0625 L51.5400009,80.96875 L51.5400009,51.0625 L81.5400009,51.0625 L51.5400009,51.0625 L51.5400009,51.0625 Z" id="plus" stroke="#FFFFFF" stroke-width="5"></path>
            </g>
        </g>
    </g>
</svg>
