<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="38px" height="60px" viewBox="0 0 38 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
    <title>261d-1f3fb</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="261d-1f3fb" sketch:type="MSLayerGroup">
            <g id="Group" fill="#FFE1BD" sketch:type="MSShapeGroup">
                <path d="M31.837,32.508 C31.837,32.508 -0.046,30.048 0.449,34.642 C0.449,34.642 -1.201,45.859 2.732,52.611 C8.583,62.661 31.377,64.351 37.052,45.591 C38.181,41.862 37.302,31.861 31.838,32.511" id="Shape"></path>
                <path d="M25.674,37.11 C25.674,39.413 27.57,41.282 29.91,41.282 L29.947,41.282 C32.287,41.282 34.185,39.413 34.185,37.11 L34.185,4.176 C34.186,1.873 32.287,0.004 29.947,0.004 L29.91,0.004 C27.57,0.004 25.674,1.873 25.674,4.176 L25.674,37.11" id="Shape"></path>
            </g>
            <path d="M28,40.34 L28.043,40.34 C30.381,40.34 32.262,38.442 32.262,36.135 L32.262,3.2 C32.262,1.95 31.701,0.827 30.817,0.063 C32.737,0.458 34.182,2.135 34.182,4.147 L34.182,37.082 C34.182,39.387 32.297,41.283 29.957,41.283 L29.918,41.283 C28.85,41.283 27.873,40.894 27.131,40.25 C27.408,40.309 27.701,40.34 28,40.34" id="Shape" fill="#E6B796" sketch:type="MSShapeGroup"></path>
            <g id="Group" transform="translate(0.000000, 19.000000)" fill="#FFE1BD" sketch:type="MSShapeGroup">
                <path d="M0.449,9.05 C0.449,6.693 2.338,4.784 4.668,4.784 L4.738,4.784 C7.068,4.784 8.955,6.692 8.955,9.05 L8.955,15.643 C8.955,17.998 7.068,19.909 4.738,19.909 L4.668,19.909 C2.338,19.909 0.449,17.999 0.449,15.643 L0.449,9.05" id="Shape"></path>
                <path d="M8.857,5.23 C8.857,2.876 10.746,0.966 13.078,0.966 L13.144,0.966 C15.476,0.966 17.367,2.876 17.367,5.23 L17.367,11.824 C17.367,14.179 15.476,16.091 13.144,16.091 L13.078,16.091 C10.746,16.091 8.857,14.18 8.857,11.824 L8.857,5.23" id="Shape"></path>
                <path d="M17.367,4.748 C17.367,2.394 19.254,0.484 21.586,0.484 L21.656,0.484 C23.984,0.484 25.875,2.394 25.875,4.748 L25.875,11.342 C25.875,13.697 23.984,15.609 21.656,15.609 L21.586,15.609 C19.254,15.609 17.367,13.698 17.367,11.342 L17.367,4.748" id="Shape"></path>
            </g>
            <g id="Group" transform="translate(0.000000, 20.000000)" fill="#E6B796" sketch:type="MSShapeGroup">
                <path d="M3.471,17.33 L3.528,17.33 C5.856,17.33 7.686,15.447 7.686,13.093 L7.686,6.495 C7.686,5.858 7.545,5.255 7.299,4.714 C8.309,5.493 8.955,6.724 8.955,8.105 L8.955,14.702 C8.955,17.057 7.131,18.913 4.799,18.913 L4.748,18.913 C3.045,18.913 1.58,17.903 0.912,16.44 C1.625,16.988 2.508,17.33 3.471,17.33" id="Shape"></path>
                <path d="M11.859,13.502 L11.912,13.502 C14.244,13.502 16.094,11.65 16.094,9.293 L16.094,2.695 C16.094,2.06 15.957,1.457 15.709,0.914 C16.719,1.693 17.367,2.924 17.367,4.305 L17.367,10.903 C17.367,13.258 15.515,15.086 13.187,15.086 L13.132,15.086 C11.431,15.086 9.966,14.076 9.298,12.614 C10.008,13.162 10.896,13.502 11.859,13.502" id="Shape"></path>
                <path d="M20.35,13.02 L20.401,13.02 C22.733,13.02 24.6,11.168 24.6,8.811 L24.6,2.213 C24.6,1.578 24.459,0.975 24.217,0.432 C25.227,1.211 25.873,2.442 25.873,3.823 L25.873,10.421 C25.873,12.776 24.006,14.604 21.678,14.604 L21.623,14.604 C19.922,14.604 18.455,13.594 17.787,12.132 C18.5,12.681 19.387,13.02 20.35,13.02" id="Shape"></path>
                <path d="M28.01,18.822 C23.206,16.484 12.351,20.473 14.472,30.496 C14.472,20.081 23.862,18.327 28.01,18.822" id="Shape"></path>
                <path d="M26.18,8.511 C22.729,6.455 22.04,9.697 16.17,9.87 C13.601,9.945 12.457,15.266 16.347,17.193 C21.763,19.874 22.188,16.079 23.504,17.557 C24.907,19.13 26.23,19.438 27.413,21.26 C28.273,22.582 34.989,20.543 35.698,17.828 C37.063,12.618 31.653,11.778 26.177,8.511" id="Shape"></path>
            </g>
            <path d="M26.623,29.418 C23.037,27.279 22.321,30.651 16.214,30.833 C13.54,30.91 12.352,36.445 16.403,38.45 C22.035,41.239 22.474,37.29 23.845,38.831 C25.308,40.466 26.681,40.786 27.909,42.683 C28.804,44.06 26.423,49.262 26.423,49.262 C26.423,49.262 33.327,54.129 34.736,51.355 C37.353,46.205 36.61,42.144 36.529,39.113 C36.339,32.129 32.324,32.812 26.623,29.418" id="Shape" fill="#FFE1BD" sketch:type="MSShapeGroup"></path>
            <g id="Group" transform="translate(4.000000, 32.000000)" fill="#E6B796" sketch:type="MSShapeGroup">
                <path d="M29.558,0.879 C33.391,2.638 33.207,12.578 30.352,17.366 C23.245,29.274 7.688,29.079 0.312,22.703 C7.152,30.018 23.72,30.743 31.442,18.397 C34.535,13.456 35.501,2.132 29.562,0.879" id="Shape"></path>
                <path d="M23.13,10.819 C23.406,11.244 23.371,12.037 23.19,12.928 C23.6,11.571 23.874,10.158 23.468,9.533 C22.238,7.637 21.539,7.246 20.083,5.61 C18.707,4.07 18.269,8.019 12.635,5.232 C10.554,4.199 9.863,2.236 10.041,0.56 C9.252,2.374 9.645,5.202 12.3,6.517 C17.932,9.305 18.372,5.355 19.744,6.896 C21.205,8.533 21.902,8.924 23.13,10.819" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>
