<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="41px" height="61px" viewBox="0 0 41 61" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
    <title>Slice 1</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="1f44e-1f3fb" sketch:type="MSLayerGroup">
            <path d="M20.766,34.905 C20.766,34.905 16.411,34.036 20.012,41.518 C22.62,46.936 22.36,53.227 20.012,56.568 C16.256,61.912 8.942,60.16 9.701,57.091 C12.308,46.544 6.418,43.402 3.373,36.745 C0.288,30.001 0.627,20.425 2.045,11.9 C2.932,6.572 5.184,0.001 13.495,0.001 L24.98,0.001 L20.766,34.906" id="Shape" fill="#FFE1BD" sketch:type="MSShapeGroup"></path>
            <path d="M14.75,1.483 C6.439,1.483 4.619,8.052 3.73,13.38 C2.31,21.904 2.084,28.708 4.812,35.6 C7.781,43.098 10.908,43.317 10.908,58.143 C10.908,58.885 11.301,59.373 11.701,59.7 C10.295,59.233 9.515,58.411 9.515,57.208 C9.515,46.118 6.415,43.403 3.37,36.747 C0.286,30.002 0.625,20.426 2.043,11.901 C2.93,6.573 5.182,0.002 13.493,0.002 L24.978,0.002 L24.978,1.485 L14.748,1.485" id="Shape" fill="#E6B796" sketch:type="MSShapeGroup"></path>
            <path d="M34.998,26.18 L20.766,26.18 C15.801,26.18 15.801,34.902 20.766,34.902 L34.998,34.902 C39.963,34.902 39.963,26.18 34.998,26.18" id="Shape" fill="#FFE1BD" sketch:type="MSShapeGroup"></path>
            <path d="M36.1,27.632 L21.869,27.632 C18.517,27.632 17.437,31.596 18.609,34.18 C15.955,32.1 16.664,26.182 20.757,26.182 L34.988,26.182 C36.602,26.182 37.682,27.109 38.247,28.355 C37.682,27.91 36.972,27.632 36.1,27.632" id="Shape" fill="#E6B796" sketch:type="MSShapeGroup"></path>
            <path d="M36.532,17.426 L19.452,17.426 C13.495,17.426 13.495,26.148 19.452,26.148 L36.532,26.148 C42.488,26.148 42.488,17.426 36.531,17.426" id="Shape" fill="#FFE1BD" sketch:type="MSShapeGroup"></path>
            <path d="M37.857,18.875 L20.777,18.875 C16.757,18.875 15.461,22.842 16.867,25.423 C13.681,23.343 14.533,17.427 19.443,17.427 L36.523,17.427 C38.461,17.427 39.757,18.354 40.434,19.598 C39.756,19.154 38.902,18.875 37.856,18.875" id="Shape" fill="#E6B796" sketch:type="MSShapeGroup"></path>
            <path d="M34.931,8.704 L20.495,8.704 C15.455,8.704 15.455,17.427 20.495,17.427 L34.931,17.427 C39.971,17.426 39.971,8.704 34.931,8.704" id="Shape" fill="#FFE1BD" sketch:type="MSShapeGroup"></path>
            <path d="M36.05,10.152 L21.615,10.152 C18.217,10.152 17.123,14.12 18.308,16.703 C15.615,14.621 16.335,8.704 20.488,8.704 L34.925,8.704 C36.561,8.704 37.656,9.633 38.231,10.878 C37.656,10.432 36.936,10.152 36.05,10.152" id="Shape" fill="#E6B796" sketch:type="MSShapeGroup"></path>
            <path d="M33.38,0 L24.051,0 C18.666,0 18.666,8.721 24.051,8.721 L33.38,8.721 C38.768,8.72 38.768,0 33.38,0" id="Shape" fill="#FFE1BD" sketch:type="MSShapeGroup"></path>
            <path d="M34.58,1.447 L25.247,1.447 C21.616,1.447 20.444,5.415 21.715,7.998 C18.834,5.916 19.606,4.4408921e-16 24.045,4.4408921e-16 L33.374,4.4408921e-16 C35.124,4.4408921e-16 36.297,0.928 36.909,2.172 C36.296,1.728 35.528,1.447 34.58,1.447" id="Shape" fill="#E6B796" sketch:type="MSShapeGroup"></path>
        </g>
    </g>
</svg>