<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="39px" height="49px" viewBox="0 0 39 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
    <title>ic_turned_in_not_black_24px</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="ic_turned_in_not_black_24px" transform="translate(-13.000000, -8.000000)">
            <g id="Group">
                <path d="M46.0416667,8.125 L18.9583333,8.125 C15.9791667,8.125 13.56875,10.5625 13.56875,13.5416667 L13.5416667,56.875 L32.5,48.75 L51.4583333,56.875 L51.4583333,13.5416667 C51.4583333,10.5625 49.0208333,8.125 46.0416667,8.125 L46.0416667,8.125 Z M46.0416667,48.75 L32.5,42.8458333 L18.9583333,48.75 L18.9583333,13.5416667 L46.0416667,13.5416667 L46.0416667,48.75 L46.0416667,48.75 Z" id="Shape" fill="#FFFFFF"></path>
                <polygon id="Shape" points="0 0 65 0 65 65 0 65"></polygon>
            </g>
        </g>
    </g>
</svg>
