#contact {

}
.contact-form {
  background-image: image-url("background-pouce.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 2500px;
}

#form-contact {
  padding-top: 30px;
  padding-bottom: 30px;
}
