  <div id="mc_embed_signup">
    <form action="//cforgood.us9.list-manage.com/subscribe/post?u=a43e05af521d3632c30f4c0c8&amp;id=3cef42ed6e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="indicates-required ml-2cent">Vous pouvez d'ores et déjà <span class="turquoise">réserver votre carte CforGood </span>! Lors de sa sortie, vous serez le premier informé et accéderez <span class="turquoise">gratuitement</span> à tous nos avantages pour vous remercier de votre confiance.</div><br>
        <div class="indicates-required ml-2cent"><span class="asterisk">*</span> informations requises</div>
        <div class="mc-field-group mt-20 pl-2cent">
        <input type="email" placeholder="Email*" name="EMAIL" class="required email asterisk br5 w-90cent pl-2cent" id="mce-EMAIL">
        </div>
        <div class="mc-field-group mt-20">
          <input type="text" placeholder="Prénom" name="FNAME" class="br5 w-90cent ml-2cent pl-2cent" id="mce-FNAME">
        </div>
        <div class="mc-field-group mt-20">
          <input type="text" placeholder="Nom" name="LNAME" class="br5 w-90cent ml-2cent pl-2cent" id="mce-LNAME">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_a43e05af521d3632c30f4c0c8_3cef42ed6e" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="S'INSCRIRE" name="subscribe" id="mc-embedded-subscribe" class="btn btn-turquoise mt-20 w-90cent ml-2cent"></div>
      </div>
    </form>
  </div>