<ul class="mobile-menu logout hidden">
  <!-- OTHER LINKS -->
  <li>
    <%= link_to signup_path do %>
      <i class="fa fa-pencil"></i>Je m'inscris
    <% end %>
  </li>
  <li>
    <%= link_to signin_path do %>
       <i class="fa fa-sign-in"></i>Se connecter
    <% end %>
  </li>
  <li>
    <%= link_to root_path do %>
      <i class="fa fa-info-circle"></i>Plus d'infos ?
    <% end %>
  </li>
</ul>

