<div class="popup-overlay delete-confirmation hidden">
  <div class="popup-container delete-perk">
    <div class="close-popup"><i class="fa fa-times"></i></div>
    <div class="wrapper">
      <!-- ILLUSTRATION-->
      <%= render 'shared/icons/trash' %>
    </div>
    <span>Oups !</span>
    <p>Souhaitez-vous vraiment supprimer votre bon plan ?</p>
    <button type="submit" id="delete-submit" class="business-button">Valider</button>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function() {

      $(".delete-confirmation .close-popup").click(function (e) {
        e.preventDefault();
        $(".delete-confirmation").toggleClass('hidden');
      });

      $("#delete-submit").on("click", function (e) {
        e.preventDefault();
        var deletePerk = $(this).attr('class').split(" ")[1];
        $("#"+deletePerk).submit();
      });

    });
  </script>
<% end %>


