/* -------------------------------------
 * Colors
 * ------------------------------------- */

// Scheme
$red: #F74042;

$yellow: #FDB631;
$orange: #E67E22;

$purple: #6452BD;
$blue-night: #47639E;

$white: #fff;
$black: #000;
$turquoise: #36d3da;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee

$turquoise: #36D3DA;
$darken-turquoise: #19A2C2;
$black: #3E4149;
$grey: #A3A5A8;


// IMPORT FONT
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");

// FONT SIZE
$normal-font: 18px;
$normal-line-height: 24px;


$extra-large-font: 44px;
$large-font: 26px;
$medium-font: 22px;
$light-font: 14px;
$small-font: 12px;


$body-background: $white;
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Open Sans", "sans-serif";
$navbar-font: 'Open Sans', "sans-serif";

// COLORS

$white: #fff;
$black: #000;
$turquoise: #36d3da;
$blue: #00C9FF;
$green: #80F2A4;


// HEADER
$header-height: 600px;
$header-fontcolor: $white;

// SECTIONS
$section-light: #fff;
$section-medium: #f9f9f9;
$section-font-color: #333333;

$base-size: 16px;
$base-height: 1.4;

$facebook: #3b5998;
$twitter: #1da1f2;
