<div class="popup-overlay">
  <div class="popup-container no-perks">
    <div class="wrapper">
      <!-- ILLUSTRATION-->
      <%= render 'shared/icons/wand' %>
    </div>
    <span>Créez votre premier bon plan !</span>
    <p>Vous deviendrez visible auprès de notre communauté aussitôt l'activation de votre premier bon plan effectuée.</p>

    <%= link_to new_pro_business_perk_path(current_business), class: 'popup-button' do %>
      C'est parti !
    <% end %>
  </div>
</div>