<div class="use-overlay">
  <div class="flip-container-mobile">
    <div class="flipper-mobile">
      <!-- FRONT CARD-->
      <figure class="front">
        <!-- CLOSE BUTTON-->
        <button type="button" class="close-button">&times;</button>
        <!-- ILLUSTRATION-->
        <div class="wrapper">
          <%= render "shared/icons/send_mail" %>
        </div>
        <!-- CTA-->
        <div class="container-code gentleman">
          <span>Hey...</span>
          <p>Il n'y a pas de partenaire autour de toi ! La Révolution Positive n'est pas encore dans ta ville, mais ça peut s'arranger :)</p>
            <div class="itinary send-mail">
            <a href="https://cforgood1.typeform.com/to/u4rcVG" class="link-mail-business business-icon-container" target="_blank">
              <i class="fa fa-envelope"></i><abbr>Fais nous signe !</abbr>
            </a>
          </div>
        </div>
      </figure>
    </div>
  </div>
</div>
