<div class="use-overlay">
  <div class="flip-container-mobile">
    <div class="flipper-mobile">
      <!-- FRONT CARD-->
      <figure class="front">
        <!-- ILLUSTRATION-->
        <div class="wrapper">
          <%= render "shared/icons/one_finger" %>
        </div>
        <!-- CTA-->
        <div class="container-code gentleman">
          <span>Hey...</span>
          <p>Tu n'es pas encore inscrit, alors rejoins la <strong>Révolution Positive</strong> et soutiens l'association de ton choix ! </p>
          <%= link_to "S'inscrire !", new_member_subscribe_path, class: "button-gentleman" %>
        </div>
      </figure>
    </div>
  </div>
</div>
