<div class="use-overlay">
  <div class="flip-container-mobile">
    <div class="flipper-mobile">
      <!-- FRONT CARD-->
      <figure class="front">
        <!-- ILLUSTRATION-->
        <div class="wrapper">
          <%= render "shared/icons/thumb_like" %>
        </div>
        <!-- TEXT -->
        <div class="container-code gentleman">
          <span>Félicitations !</span>
          <p>Profite bien des <strong><%= (current_user.date_end_partner - Date.today).to_i %></strong> jours offert par <strong><%= Partner.find_by_code_partner(current_user.code_partner).name %></strong> pour découvrir la plateforme.</p>
            <%= link_to 'A toi de jouer !', "", class: "button-gentleman play-now" %>
        </div>
      </figure>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>

    $(document).ready(function() {

      $(".play-now").click(function(e) {
        e.preventDefault();
        $('.use-overlay').addClass('hidden');
      });

    });

  </script>
<% end %>
