<!-- FORM CARD REGISTRATION -->
<div class="form-edit-container">
  <div class="form-edit">

    <%= render "components/forms/payment" %>

  </div>
</div>

<!-- MODAL MESSAGE INFORMATION -->
<%#= render "components/modals/payment" %>

<%# content_for :after_js do %>

  <%#= render "components/js/payment" %>

<%# end %>
