<% content_for :meta_title, "Charte CforGood" %>
<% content_for :meta_description, "Nous sommes tous concernés !" %>
<% content_for :meta_image %>

<div class="container-fluid">
  <div class="container-fluid" id="header-cforgood-legal">
    <div class="row">
      <div class="page-title" id="page-title-legal">
        <h1>NOTRE CHARTE</h1>
        <h3>Tous concernés !</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-legal">
    <div id="whitebox-legal"></div>
      <div class="row">
        <!-- Sub Menu NavBar  -->
        <%= render "pages/shared/tabs_footer_cforgood" %>
        <!-- Content -->
        <div class="col-xs-12 col-sm-6 content-legal">
          <div>
            <h3 class="section-title text-center">Les Engagements de CforGood et de son Equipe</h3>
            <p class="w-400 pt-15">L’indépendance vis-à-vis de tous ses partenaires</p>
            <p>CforGood s’engage à défendre son indépendance en ne signant aucun contrat fragilisant de manière significative sa liberté de décision et d’action.</p>
            <p class="w-400 pt-15"> L'amélioration continue des critères de sélection des commerçants</p>
            <p>CforGood s’engage à rendre plus efficaces les critères de sélection des commerçants partenaires. Il fera participer à cette recherche les membres et partenaires de la communauté mais restera garant de l’esprit d’équilibre qui l’anime.</p>
            <p class="w-400 pt-15"> La protection de la vie privée</p>
            <p>CforGood s’engage à ne jamais transmettre à des tiers les informations collectées sur son site internet, sans l'accord explicite de leur propriétaire. Ces informations seront détruites sur simple demande.</p>
            <p class="w-400 pt-15"> Le respect de la charte</p>
            <p>CforGood s’engage à contrôler, alerter et, si besoin, résilier les partenariats développés si les actes de certains partenaires venaient à ne pas respecter la présente charte.
            </p>
          </div>
          <div class="mt-60">
            <h3 class="section-title text-center">Les Engagements des Commerces Partenaires</h3>
            <p>Les commerçants partenaires de CforGood ont pris un ou plusieurs des engagements suivants dans l’exercice de leur activité :</p>
            <p class="w-400 pt-15"> Engagements sociaux :</p>
            <p>› Développer la vente de produits contrôlés par l’un des labels ou des acteurs majeurs du commerce équitable (Max Havelaar-FLO, Artisans du Monde / Solidar’Monde, PFCE, Alter-eco / FTA200, Minga,UNAT, Bio équitable, Fibre citoyenne, Oxfam).<br>
            › Employer et accompagner vers l’emploi des personnels en insertion (CNEI).<br>
            › Proposer des produits ou des services participant à l’épanouissement citoyen à travers des pratiques sportives, thérapeutiques, artistiques ou culturelles sur le territoire.<br>
            › Pratiquer une gestion impliquant le respect, le partage et la participation des salariés (SCOP, SCIC,Mutuelle, SA 8000).</p>
            <p class="w-400 pt-15"> Engagements environnementaux :</p> 
            <p class="mt--15">› Développer la vente de produits issus de l’agriculture biologique ou de techniques labellisées préservant l’environnement (AB avec la FNAB et l'Agence BIO, "Ensemble pour plus de sens" de BIOCOOP, Nature et Progrès, Demeter, Label écologique européen, Cosmebio, Ecocert, NF-Environnement, FSC, Rainforest Alliance, STEP).<br>
            › Agir en interne et en externe pour réduire l’impact de son activité sur l’environnement.</p>
            <p class="w-400 pt-15"> Engagements économiques :</p>
            <p>› Vendre des produits ou des services nécessitant un savoir faire artisanal à valoriser.<br>
            › Rechercher et améliorer l’information des consommateurs et la qualité des produits ou des services vendus.<br>
            › Pratiquer la limitation des dividendes ou l’investissement prioritaire en innovation, recherche & développement.<br>
            › Proposer des produits favorisant les circuits directs ou courts.<br>
            › Proposer une distribution ou un service de proximité ou de quartier.<br>
            › Participer au développement d'une Finance solidaire et de proximité avec les Cigales, Garrigue, l'ADIE, France Active, La NEF... et le label Finansol.<br>
            › Défendre les valeurs de l’économie sociale et solidaire.</p>
          </div>
          <div class="mt-60">
            <h3 class="section-title text-center">Les Engagements des Causes Partenaires</h3>
            <p>Chez CforGood, nous sommes fiers de nous tenir derrière les Causes que notre communauté soutient. Nous croyons qu'il est important que nos membres sachent comment nous classons ces Causes que vous pouvez soutenir au quotidien.<br>

            Nous examinons une liste de critères afin de déterminer le sérieux d'une Cause :</p>

            <p class="w-400 pt-15"> La Transparence et les Feedback :</p>

            <p>Toute cause CforGood doit être à la fois transparente et rendre des comptes réguliers. Nous vérifions que toutes nos Causes ont une présence en ligne pour appuyer leurs efforts de sensibilisation et de collecte de fonds.<br><br>

            L’approche, la mission et les buts de la Cause doivent être facilement compréhensibles et évoquer le changement tangible qu’elle cherche à avoir dans la vie des personnes et des communautés concernées.</p>



            <p class="w-400 pt-15"> La définition d'Objectifs et la communication des Résultats :</p>

            <p>Nous échangeons directement avec les Causes partenaires pour vérifier non seulement la qualité et la profondeur de leurs résultats, mais aussi leurs visions concernant la façon dont ils vont atteindre et dépasser leurs résultats actuels. Nous restons régulièrement en contact avec toutes nos Causes pour illustrer toujours mieux la manière dont vos dons ont affecté leurs missions et leurs objectifs futurs.<br><br>

            Afin de rendre les résultats de chaque Cause CforGood plus compréhensibles, nous leur demandons de renseigner ce que nous appelons une "Formule d'Impact". Grâce à cette Formule quantifiable et réalisable, vous serez en mesure de concevoir clairement la façon dont vos dons ont un impact.</p>
          </div>
          <div class="mt-60">
            <h3 class="section-title text-center">Les Engagements des Membres et Soutiens de la Communauté</h3>
            <p class="w-400 pt-15"> Les membres s’engagent à :</p>
            <p>› Respecter les autres membres et partenaires de la communauté dans leurs commentaires (courtoisie, bienveillance, non-diffamation).<br>
            › Ne jamais faire d’autopromotion dans leurs commentaires, les commerçants référencés disposent déjà d’une page Bon Plan pour leurs communication responsable vis-à-vis des consommateurs.</p>
            <p class="w-400 pt-15"> Les engagements des soutiens publics et clients privés du site</p>
            <p>› Les acteurs publics et privés du site respectent l’indépendance de CforGood.
            Ils peuvent communiquer autour d’un partenariat avec CforGood mais s’interdisent de l’associer à une quelconque association ou commerçant partenaire.
            Ces acteurs, s'ils ne le sont pas déjà, s’engagent progressivement dans la voie d’un développement durable de leur propre activité.</p>
          </div>
          <div class="mt-60">
            <h3 class="section-title text-center">Pour Finir...</h3>
            <p>Chez CforGood nous sommes très rigoureux sur notre charte car elle représente l'identité de notre communauté et nous voulons que vous vous sentiez pleinement confiant au sujet des Commerces ou des Causes partenaires.<br> N'hésitez pas à nous écrire à <a href="mailto:hello@cforgood.com" target="_blank">hello@cforgood.com</a>, si vous avez davantage de questions.</p>
            <div class="mt-50 mb-50" id="logo-signature">
              <%=image_tag("logo.png") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
