<div class="container-fluid admin" style="background-image: url(<%= image_url('cover-business.jpg') %>);">
  <div class="done-overlay waiting connexion-pro">
    <div class="done-container">
      <div class="wrapper">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
        <path class="checkmark" fill="none" stroke-width="3" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
        C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"/>
        </svg>
      </div>
      <span>C'est parti !<br><small>Un mail vient de vous être envoyé.</small></span>
      <p>Nous vous invitons à consulter votre messagerie dès maintenant.</p>
     <%= link_to "À très vite !", root_path %>
    </div>
  </div>
</div>
