.dashboard-causes {
  padding: 0;

  /* FILTERS ******************************************************************/

  .container-perk-cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 23px 20px 70px;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 4px;

    .card-frame {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      margin-right: 13px;
      margin-bottom: 20px;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      cursor: pointer;
      @include transition(all 0.3s);

      &:hover {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
      }

      .card-body {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 20px;
        height: 220px;
        width: 100%;
        border-radius: 3px;
        background-size: cover;
        background-repeat: none;
        background-position: center;
        overflow: hidden;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0.3;
          background: -webkit-linear-gradient(180deg, #00C9FF 5%, transparent 95%);
          background: -webkit-linear-gradient(top, #00C9FF 5%, transparent 95%);
          background: linear-gradient(180deg, #00C9FF 5%, transparent 95%);
          //background-color: rgba(0,0,0,0.2);
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
          border-radius: 3px;
          transition: all 0.3s ease-in-out;
        }


        .disque-item {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          min-width: 40px;
          height: 40px;
          bottom: 10px;
          border-radius: 50%;
          z-index: 4;
          background-color: #fff;
          box-shadow: 0 1px 2px rgba(0,0,0,0.2);
          transition: all 0.3s ease-in-out;

          img {
            width: 30px;
            z-index: 5;
          }
        }

        .item-category {
          right: 10px;
          z-index: 5;
        }

        .item-logo {
          right: 60px;
          z-index: 6;

          img {
            border-radius: 50%;
          }
        }

        span {
          padding-bottom: 10px;
          text-transform: uppercase;
          font-weight: 600;
          color: #fff;
          text-shadow: 0 1px 2px rgba(0,0,0,0.5);
          z-index: 4;

          &:after {
            content: '';
            display: block;
            background: #fff;
            height: 2px;
            width: 100%;
            max-width: 35px;
          }
        }

        p {
          font-size: 12px;
          line-height: 20px;
          color: #fff;
          z-index: 4;
          transition: all 0.3s ease-in-out;

          //height: 0;
          //visibility: hidden;
          //transform: translateX(-100%);
          opacity: 0;
        }
      }
    }
  }

  #mixitup .card-frame {
    display: none;
  }
}

@media only screen and (min-width:769px){
  .dashboard-causes  {
    padding-top: 20px;

    .container-perk-cards {
      padding: 1.5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .card-frame {
        width: 31.33333%;

        .card-body {

          .item-category {
            right: 10px;
            z-index: 5;
          }

          .item-logo {
            right: 20px;
            z-index: 6;

            img {
              border-radius: 50%;
            }
          }
        }

        .card-body:hover {
          &:after {
            opacity: 0.75;
            background: -webkit-linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
            background: -webkit-linear-gradient(left, #00C9FF 10%, #80F2A4 90%);
            background: linear-gradient(90deg, #00C9FF 10%, #80F2A4 90%);
          }

          span {
            text-shadow: none;
          }

          p {
            height: auto;
            visibility: visible;
            //transform: translateX(0);
            opacity: 1;
          }

          .item-logo { transform: translateX(-35px); }
        }
      }
    }
  }
}


.asso-header {
  height: 150px;
  width: 100%;
  background-color: #2794EB;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.asso-header-count-container {
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.asso-number {
  color: white;
  font-weight: 400;
  font-size: 30px;
}

.asso-text {
  color: white;
  font-size: 12px;
}

@media all and (max-width: 768px) {
  .asso-header {
    padding-top: 50px;
  }
}

@media all and (max-width: 768px) {
  .card-frame {
    margin-right: 0;
  }
}
