.circle {
  border-radius: 50%;
  color: white;
  height: 175px;
  width: 175px;
  border: 5px rgba(0, 0, 0, 0.23) solid;
}

.blue-circle {
  background-color: #00CAFF;
}

.turquoise-circle {
  background-color: #36D3DA;
}

.green-circle {
  background-color: #7DF088;
}