.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top:50px;
}

.mt-60 {
  margin-top:60px;
}

.mt-65 {
  margin-top:65px;
}

.mt-70 {
  margin-top:70px;
}

.mt-80 {
  margin-top:80px;
}

.mt-100 {
  margin-top:100px;
}

.mt-120 {
  margin-top:120px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-250 {
  margin-top: 250px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-150 {
  margin-bottom: 150px;
}

.ml-1 {
  margin-left: 1px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-150 {
  margin-left: 150px;
}

.ml-210 {
  margin-left: 210px;
}

.ml-250 {
  margin-left: 250px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-150 {
  margin-right: 150px;
}

.mr-210 {
  margin-right: 210px;
}

.mt--10 {
  margin-top: -10px;
}

.mt--15 {
  margin-top: -15px;
}

.ml--1 {
  margin-left: -1px;
}

.mt-3cent {
  margin-top: 3%;
}

.mt-6cent {
  margin-top: 6%;
}

.mt-7cent {
  margin-top: 7.3%;
}

.mb-7cent {
  margin-bottom: 7%;
}

.mb-9cent {
  margin-bottom: 9%;
}

.ml-2cent {
  margin-left: 2%;
}

.ml-3cent {
  margin-left: 3%;
}

.ml-5cent {
  margin-left: 5%;
}

.ml-10cent {
  margin-left: 10%;
}

.ml-14cent {
  margin-left: 14%;
}

.ml-16cent {
  margin-left: 16%;
}

.ml-25cent {
  margin-left: 25%;
}

.ml-72cent {
    margin-left: 72%;
}

.mr-3cent {
  margin-right: 3%;
}

.mt--1cent {
  margin-top: -1%;
}

.mt--10cent {
  margin-top: -10%;
}

@media only screen and (max-width: 480px) and (orientation : portrait) {
  #ml-25cent-mobile {
    margin-left: 25% !important;
  }
}

