<% require 'devise/version' %>

<p>Bonjour  <%= @resource.name %>,</p>

<p>Vous avez demandé à changer votre mot de passe, vous pouvez le modifier au cliquant sur le lien ci-dessous : </p>
<p><%= link_to "Changer mon mot de passe", edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, ignorez cet email.<br>
Votre mot de passe ne sera pas changé tant que vous n'aurez pas accédé au lien ci-dessus et que vous n'aurez pas créé un nouveau mot de passe.</p>

<p>A bientôt,<br>
L'équipe <strong>CforGood</strong></p>
<%= link_to root_url, target: "_blank" do %>
  <%= image_tag "logo.png", class: "logo", style: "width:120px;" %>
<% end %>
