.dashboard-fullpage {
  width: 100%;
  height: 100%;
  padding-left: 90px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: white;

  @media all and (max-width: 768px) {
    padding-left: 0;
  }
}

.dash-fullpage-header {
  width: 100%;
  height: 20%;
  background-color: #0DE2EA;
  position: relative;
}

.dash-header-avatar-container {
  position: absolute;
  width: 30%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 55px;
  left: 35%;
}

.header-avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-image: url(https://parisiansecrets.files.wordpress.com/2012/10/dsc_0361.jpg);
  background-size: cover;
  background-position: center center;
  border: 3px solid white;
}

.dash-fullpage-user-name {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 25px;
}

.user-name {
  font-size: 24px;
  font-weight: 400;
  color: rgba(55,55,55,0.7);
}

.user-name-tooltip {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 9px;
  color: white;
  background-color: #0DE2EA;
  border-radius: 2px;
  margin-top: 15px;
}

.dash-fullpage-bottom-container {
  border-left: 1px solid lightgrey;
  height: 80%;
}

.tabs-dashboard {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 15px;
}

.nav-tabs > li > a {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 11px;
  font-weight: 400;
  color: rgba(55,55,55,0.7);
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-tabs {
  display: flex;
  justify-content: space-around;
  border-bottom-color: #0DE2EA;
}

.nav-tabs > li {
  width: 31%;
  display: flex;
  justify-content: center;

  @media (max-width: 767px) {
    span {
      display: none;
    }
  }

  @media (min-width: 768px) {
    i {
      display: none;
    }
  }

}

.nav-tabs > li.active > a {
  border: 1px solid #0DE2EA;
  border-bottom-color: transparent;
  color: rgba(55,55,55,0.9);
  background-color: white;
}

.nav-tabs > li.active > a:focus {
  border: 1px solid #0DE2EA;
  border-bottom-color: transparent;
  color: rgba(55,55,55,0.9);
  background-color: white;
}

.nav-tabs > li.active > a:hover {
  background-color: white;
}

.nav-tabs > li > a {
  border: 1px solid rgba(155,155,155,0.3);
  border-bottom-color: transparent;
}

.nav-tabs > li > a:focus {
  border: 1px solid rgba(155,155,155,0.3);
  border-bottom-color: transparent;
}

.nav-tabs > li > a:hover {
  background-color: white;
  border-bottom-color: #0DE2EA;
}

.tabs-container-dash {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #0DE2EA;
}
