<!-- TOOGLE OVERLAY -->
<!-- <div class="notification-center-overlay hidden"></div> -->

<!-- NOTIFICATIONS -->
<!-- <div class="notification-center"> -->
  <!-- <span id="open-notification" >Notification<%#= render "components/svg/logo_thumb" %><div class="notifier"></div></span> -->
  <!-- <div class="notification-panel"> -->
    <!-- <h2> -->
      <!-- Hello -->
      <%# if user_signed_in? %>
        <%# if current_user.last_name.present? %>
          <%#= current_user.first_name %>,
        <%# elsif current_user.name.present? %>
          <%#= current_user.name.split(" ")[0] %>,
        <%# end %>
      <%# end %>
    <!-- </h2> -->
    <!-- <p>Prochainement, tu trouveras ici tous les jours, un événement enthousiasmant qu’on a sélectionné rien que pour toi.<br> -->
      <!-- On peut te le dire, tu ne vas pas t’ennuyer :) </p> -->
    <!-- <a href="https://cforgood1.typeform.com/to/XQXiKD" class="notification-link" target="_blank">Aidez-nous</a> -->
  <!-- </div> -->
<!-- </div> -->
